<nav>
    <ul routerLinkActive="active">
        <li class="dropdown">
            <a class="dropbtn" routerLink="/user/games/platform">Platform<i class="material-icons">
                keyboard_arrow_down
            </i></a>
            <div class="dropdown-content">
                <div *ngFor="let platform of platforms">
                    <a routerLink="/user/games/platform/{{platform.id}}">{{platform.name}}</a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" routerLink="/user/games/category">Category<i class="material-icons">
                keyboard_arrow_down
            </i></a>
            <div class="dropdown-content">
                <div *ngFor="let category of categories">
                    <a routerLink="/user/games/category/{{category.id}}">{{category.name}}</a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" routerLink="/user/">Classification<i class="material-icons">
                keyboard_arrow_down
            </i></a>
            <div class="dropdown-content">
                <div *ngFor="let classification of classifications">
                    <a routerLink="/user/games/classification/{{classification.id}}">{{classification.name}}</a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" routerLink="/user/games/rating">Rating<i class="material-icons">
                keyboard_arrow_down
            </i></a>
            <div class="dropdown-content">
                <div *ngFor="let note of notes">
                    <a routerLink="/user/games/rating/{{note.id}}">{{note.note}}</a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" routerLink="/user/games/state">State<i class="material-icons">
                keyboard_arrow_down
            </i></a>
            <div class="dropdown-content">
                <div *ngFor="let state of states">
                    <a routerLink="/user/games/state/{{state.id}}">{{state.name}}</a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" routerLink="/user/games/developper">Developper<i class="material-icons">
                keyboard_arrow_down
            </i></a>
            <div class="dropdown-content">
                <div *ngFor="let developper of developpers">
                    <a routerLink="/user/games/developper/{{developper.id}}">{{developper.name}}</a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" routerLink="/user/games/editor">Editor<i class="material-icons">
                keyboard_arrow_down
            </i></a>
            <div class="dropdown-content">
                <div *ngFor="let editor of editors">
                    <a routerLink="/user/games/editor/{{editor.id}}">{{editor.name}}</a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" routerLink="user/games/tag/">Tags<i class="material-icons">
                keyboard_arrow_down
            </i></a>
            <div class="dropdown-content">
                <div *ngFor="let tag of tags">
                    <a routerLink="/user/games/tag/{{tag.id}}">{{tag.title}}</a>
                </div>
            </div>
        </li>
    </ul>
</nav>