<div class="footer">
    <div class="footer-content">
        <div class="footer-text bold">About</div><br>
        <div class="footer-text"><em>PLAYHOUSE<br>50 rue Molière, 93100 Montreuil, France</em><br></div>
        <div class="footer-text">Contact</div>
        <div class="footer-text">Press</div>
    </div>
    <div class="footer-border"></div>
    <div class="footer-content">
        <div class="footer-text bold">Application</div><br>
        <div class="footer-text">Se connecter</div>
        <div class="footer-text">Créer un compte</div>
        <div class="footer-text">Se déconnecter</div>
    </div>
    <div class="footer-border"></div>
    <div class="footer-content">
        <div class="footer-text bold">Social Medias</div><br>
        <div class="social-medias">
            <div class="footer-button">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="footer-button">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="footer-button">
                <i class="fa fa-linkedin"></i>
            </div>
            <div class="footer-button">
                <i class="fa fa-instagram"></i>
            </div>
        </div>
    </div>
</div>
