<div class="ctn-main">
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <h2>Manage your game collection</h2>
        <div>
            <label for="username">Username</label>
            <input type="text" name="form.username" [(ngModel)]="form.username" required #username="ngModel" />
            <div *ngIf="f.submitted && username.invalid">Username is required!</div>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="form.password" required minlength="6"
                #password="ngModel" />
            <div role="alert" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                </div>
            </div>
        </div>
        <div>
            <button class="validation">Login</button>
        </div>
        <div id="register">
            <a routerLink="/register">No account yet ? Sign up now</a>
        </div>
        <div *ngIf="f.submitted && isLoginFailed">
            <div>Login failed: {{ errorMessage }}</div>
        </div>
    </form>
    <div *ngIf="isLoggedIn">
        <app-modal id="modal_1" class="hhidden">
            <div class="modal">Logged in as {{ roles }}.<br><button id="btn-confirm"
                    onclick="window.location.href='/user/'">Ma collection</button></div>
        </app-modal>
    </div>
</div>