.ctn-main {
    min-height: 100vh;
}
.btn-div {
    padding: 1rem;
    text-align: end;
}
#btn-delete {
    margin-top: 1rem;
    padding: 0.7em 1em 0.7em 1em;
    background-color: #3daa2e;
    font-size: medium;
    font-weight: 500;
}
#btn-cancel {
    margin-top: 1rem;
    padding: 0.7em 1em 0.7em 1em;
    background-color: #ff1b1b;
    font-size: medium;
    font-weight: 500;
}

