.search {
    margin-top: -0.5rem;
    display: inline-block;
}
.search-bar {
    width: 20rem;
    border: none;
    padding: 0.7rem;
    margin-right: 1rem;
    border-radius: 5rem;
    background-color: rgb(87, 87, 87);
}
.search-btn {
    vertical-align: middle;
    background-color: transparent;
    margin-left: -3.6rem;
    padding: 0.5rem;
}
