<h3>{{currentCategory.name }}</h3>
<div *ngFor="let game of currentCategory.games">
    <div><img src={{game.cover}} width="200px"></div>
    <div><a routerLink="/user/game-details/{{game.id}}">{{ game.title }}</a></div>
    <div>{{ game.description }}</div>
    <div>{{ game.addDate }}</div>
    <div>{{ game.releaseDate }}</div>
    <div>{{ game.price | currency }}</div>
    <div>{{ game.note.note }}</div>
    <div>{{ game.category.name }}</div>
    <div>{{ game.state.name }}</div>
    <div>{{ game.classification.name }}</div>
    <div>{{ game.platformCollection }}</div>
    <div>{{ game.idDevelopper.name }}</div>
    <div>{{ game.idEditor.name }}</div>
    <br/>
    <span><a routerLink="/user/game-delete/{{game.id}}">Delete this game</a></span> |
    <span><a routerLink="/user/game-update/{{game.id}}">Update this game</a></span>
    <hr>
</div>