<div class="ctn-main">
  <nav class="navigation">
    <div class="nav-header"><i class="material-icons">
        extension
      </i>PlayHouse</div>
    <app-game-search class="nav-item"></app-game-search>
    <ul class="nav-item" routerLinkActive="active">
      <li>
        <a href="/home" routerLink="home">Home</a>
      </li>
      <li *ngIf="showDashBoard">
        <a href="/admin" routerLink="admin">Dashboard</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a href="/user" routerLink="user">Collection</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a href="/user" routerLink="user">Add a game</a>
      </li>
      <li *ngIf="isLoggedIn">
        <i id="cart" class="material-icons">shopping_cart</i><a href="/user" routerLink="user">Shopping List</a>
      </li>
    </ul>
    <ul class="nav-item" *ngIf="!isLoggedIn">
      <li>
        <a href="/register" routerLink="register">Sign Up</a>
      </li>
      <li>
        <a href="/login" routerLink="login">Sign In</a>
      </li>
    </ul>
    <ul class="nav-item" *ngIf="isLoggedIn">
      <li>
        <a class="profile" href="/profile"></a>
        <div class="linkContainer">
          <div class="links siteNav-content-utilityLinks-account">
            <div class="profile name siteNav-content-utilityLinks-link"><a class="nav-item" href="/user" routerLink="user">{{ username | titlecase }}</a></div>
            <div class="dropdownLinks-container">
              <div class="dropdownLinks-links siteNav-content-utilityLinks-dropdown-links">
                <a class="dropdownLinks-link siteNav-content-utilityLinks-dropdown-links-link" href="#">Profile</a>
                <a class="dropdownLinks-link siteNav-content-utilityLinks-dropdown-links-link" href="#">Parameters</a>
                <a class="dropdownLinks-link siteNav-content-utilityLinks-dropdown-links-link" href="#">Change account</a>
                <hr>
                <a class="dropdownLinks-link siteNav-content-utilityLinks-dropdown-links-link" href="#">Sign Out</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li><a href (click)="logout()">Sign Out</a></li>
    </ul>
  </nav>
  <router-outlet class="ctn-main"></router-outlet>
  <app-footer></app-footer>
</div>
