html * {
  margin: 0;
}
html, body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(31, 38, 46);
}
.navigation {
    position: relative;
    padding-top: 0.3rem;
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    background-color: rgb(32, 32, 36);
    border-bottom: 1.5px solid rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 400;
    color: rgb(148, 148, 148);
    vertical-align: middle;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.nav-header {
    justify-self: start;
    flex: none;
    font-size: x-large;
    font-weight: 700;
    color: white;
    padding: 10px;
    background-color: transparent;
    align-self: center;
}
i {
    margin-left: 1rem;
    margin-right: 0.7rem;
    vertical-align: middle;
    color: rgb(111, 0, 255);
}
#cart {
    margin-left: 1rem;
    margin-right: 0.7rem;
    vertical-align: middle;
    color: rgb(202, 202, 202);
}
.nav-item {
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex: row nowrap;
    font-size: medium;
    font-weight: 600;
    justify-content: space-between;
    text-decoration: none;
    align-self: center;
    li {
        margin-right: 1.5rem;
        list-style: none;
        display: flex;
        flex: row nowrap;
        align-items: center;
    }
} 
.profile {
  justify-content: space-between;
  width: 2vw;
  height: 2vw;
  border-radius: 5rem;
  background-color: rgb(111, 0, 255);
} 
  .linkContainer {
    display: flex;
    justify-content: center;
  }
  
  /* siteNav-content-utilityLinks-account */
  .links {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .name {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo:hover,
  .name:hover,
  .help:hover {
    color: blue;
  }
  
  /* siteNav-content-utilityLinks-dropdown */
  .dropdownLinks-container {
    display: none;
  }
  
  .links:hover .dropdownLinks-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 0px;
    box-shadow: 0 3px 4px 0.08px rgba(0, 0, 0, 0.2);
  }
  
  .dropdownLinks-links {
    position: relative;
    background: #1a1a1a;
    box-shadow: 0 5px 5px 0.08px rgba(0, 0, 0, 0.5); 
  }
  
  .dropdownLinks-links:after, 
  .dropdownLinks-links:before {
      bottom: 100%;
      right: 15px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  
  .dropdownLinks-links:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgb(37, 37, 37);
    border-width: 5px;
    right: 16px;
    background-clip: padding-box;
  }
  
  .dropdownLinks-links:before {
    border-color: rgba(184, 184, 184, 0);
    border-bottom-color: rgb(37, 37, 37);
    border-width: 6px;
    background-clip: padding-box;
  }
  
  .dropdownLinks-links {
    display: flex;
    flex-direction: column;
  }
  
  /* siteNav-content-utilityLinks-dropdown-links-link */
  .dropdownLinks-link {
    text-decoration: none;
    padding: 10px 30px;
    font-size: medium;
    font-weight: 500;
    color: rgb(175, 175, 175);
  }
  
  .dropdownLinks-link:hover {
    font-size: medium;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  
  .dropdownLinks-link:first-child {
    padding-top: 15px;
  }
  
  .dropdownLinks-link:last-child {
    padding-bottom: 15px;
  }
  