<nav class="navigation">
  <div class="nav-header">PlayHouse</div>
    <ul class="nav-item" routerLinkActive="active">
      <li>
        <a href="/home" routerLink="home">Home</a>
      </li>
      <li *ngIf="showDashBoard">
        <a href="/admin" routerLink="admin">Dashboard</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a href="/user" routerLink="user">Collection</a>
      </li>
    </ul>
    <ul class="nav-item" *ngIf="!isLoggedIn">
      <li>
        <a href="/register" routerLink="register">Sign Up</a>
      </li>
      <li>
        <a href="/login" routerLink="login">Sign In</a>
      </li>
    </ul>
    <ul class="nav-item" *ngIf="isLoggedIn">
      <li><a href="/profile"></a>{{username}}</li>
      <li><a href (click)="logout()">Log Out</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

