<div class="container">
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <h2>Add a game</h2>
    <p>Title :</p>
    <p><input type="text" [(ngModel)]="currentGame.title" name="title" /></p>
    <p>Description :</p>
    <p><input type="textarea" cols="10" rows="5" [(ngModel)]="currentGame.description" name="description" placeholder="Enter a decritpion for the game here."/></p>
    <p>Cover :</p>
    <app-upload-file></app-upload-file>
    <p>Add Date :</p>
    <p><input type="text" [(ngModel)]="currentGame.addDate" name="addDate" /></p>
    <p>Release Date :</p>
    <p><input type="text" [(ngModel)]="currentGame.releaseDate" name="releaseDate" /></p>
    <p>Price :</p>
    <p><input type="text" [(ngModel)]="currentGame.price" name="price" /></p>
    <label>Note:</label>
    <ng-select [items]="notes" bindLabel="note" [(ngModel)]="currentNote" [ngModelOptions]="{standalone: true}">
    </ng-select>
    <label>Category :</label>
    <ng-select [items]="categories" bindLabel="name" [(ngModel)]="currentCategory"
        [ngModelOptions]="{standalone: true}">
    </ng-select>
    <label>State:</label>
    <ng-select [items]="states" bindLabel="name" [(ngModel)]="currentState" [ngModelOptions]="{standalone: true}">
    </ng-select>
    <label>Classification:</label>
    <ng-select [items]="classifications" bindLabel="name" [(ngModel)]="currentClassification"
        [ngModelOptions]="{standalone: true}">
    </ng-select>
    <label>Developper:</label>
    <ng-select [items]="developpers" bindLabel="name" [(ngModel)]="currentDevelopper"
        [ngModelOptions]="{standalone: true}">
    </ng-select>
    <label>Editor:</label>
    <ng-select class="custom" [items]="editors" bindLabel="name" [(ngModel)]="currentEditor" [ngModelOptions]="{standalone: true}">
    </ng-select>
    <label>Tags :</label>
    <ng-select class="custom" [items]="tags" bindLabel="title" [(ngModel)]="currentTags" [multiple]="true" [ngModelOptions]="{standalone: true}">
    </ng-select>
    <label>Platforms :</label>
    <ng-select class="custom" [items]="platforms" bindLabel="name" [(ngModel)]="currentPlatforms" [multiple]="true" [ngModelOptions]="{standalone: true}">
    </ng-select>
    <p>
        <button class="add">Add Game</button>
    </p>
</form>
</div>