<app-nav-collection></app-nav-collection>
<div class="grid-games">
    <div class="col-2-row-1 header">
        <h2>Games List : {{ currentList }}</h2>
        <p>Welcome, you have {{gamesCount}} games in your collection for {{ filter }} {{ currentList }}.</p>
    </div>
    <div class="col-5-row-1">
        <button class="add" routerLink="/user/game-create">Add a game</button>
    </div>
        <div *ngFor="let game of games; let i = index">
            <div class=thumbs><img src={{game.cover}}></div>
            <div class="game-title"><a routerLink="/user/game-details/{{game.id}}">{{ game.title }}</a></div>
            <div>
                <p><strong>Release Date : </strong></p>
                <p>{{ game.releaseDate | date:'mediumDate' }}</p>
            </div>
            <div>
                <p><strong>Price : </strong></p>
                <p>{{ game.price | currency }}</p>
            </div>
        </div>
</div>
