<div class="grid-games">
    <div class="col-2-row-1 header">
        <h2>Games List : {{ currentList }}</h2>
        <p>Welcome, you have {{gamesCount}} games in your collection for {{ filter }} {{ currentList }}.</p>
    </div>
    <div class="col-5-row-1">
        <button><a href="/game-create" routerLink="game-create">Add a game</a></button>
    </div>
    <ng-container *ngFor="let game of games; let i = index">
        <div class="col-5-row-2">
            <div><img src={{game.cover}} width="200px" height="250px"></div>
            <div class="game-title"><a routerLink="/user/game-details/{{game.id}}">{{ game.title }}</a></div>
            <div>
                <p><strong>Release Date : </strong></p>
                <p>{{ game.releaseDate }}</p>
            </div>
            <div>
                <p><strong>Price : </strong></p>
                <p>{{ game.price | currency }}</p>
            </div>
        </div>
    </ng-container>
</div>
