body {
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }
  html {
    min-height: 100%;
  }
  :host {
    min-height: 100%;
  }
:host {
    min-height: 100%;
  }
  .ctn-main {
    min-height: 100%;
  }
